# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Code Composer Studio
# http://processors.wiki.ti.com/index.php/Source_control_with_CCS
Debug/
Release/
.xdchelp
.config/
.launches/
.metadata/
RemoteSystemsTempFiles/


Reader/empty_CC1352P1_LAUNCHXL_tirtos_ccs/.cproject
Reader/tirtos_builds_cc13x2_cc26x2_release_ccs/src/makefile.libs
Reader/tirtos_builds_cc13x2_cc26x2_release_ccs/src/sysbios/makefile
Reader/tirtos_builds_cc13x2_cc26x2_release_ccs/src/sysbios/rom_sysbios.aem4f